.menu-background {
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-design {
    margin-top: 120px;
    width: 110px;
    height: 110px;
    background: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
    position: relative;
    top: 38px;
}

.menu-title h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.8rem;
    letter-spacing: 3px;
}

.menu-restaurant-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.menu-restaurant-title h4 {
    margin: 0 8px 0 8px;
    letter-spacing: 3px;
}

.menu-restaurant-title .line-styling {
    width: 60px;
    height: 3px;
    background: var(--font-dark);
}

.down-icon {
    width: 50px;
    margin-top: 60px;
}

.menu-gallery {
    max-width: 950px;
    background: var(--font-light);
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dish-image {
    grid-column: span 2;
    height: 400px;
}

.dish-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dish-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.dish-details .line-styling {
    width: 50px;
    height: 4px;
    background: var(--primary-color);
    margin-top: 30px;
}

.dish-details .description {
    text-align: center;
    padding: 30px;
    font-style: italic;
    line-height: 1.5rem;
}